.price-filter_wrapper {
  position: absolute;
  right: 20px;
  top: -28px;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.price-filter_wrapper label {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

select {
  appearance: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  border: #fff 1px solid;
  padding: 4px;
  text-align: center;
}

@media (max-width: 550px) {
  #price-filter {
    width: 20vw;
  }
  .price-filter_wrapper label {
    display: none;
  }
}