.container.checkout-container {
  display: grid;
  margin-bottom: 60px;
  flex-direction: column;
}

@media (max-width: 800px) {
  .container.checkout-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
