.photoshoot-container {
  width: 20%;
  white-space: nowrap;
}

.photoshoot-container img {
  width: 100%; 
  height: auto; 
}

@media (max-width: 800px) {
  .photoshoot-container {
    display: none;
  }
}
