.photoshoot-container {
  width: 25%;
  white-space: nowrap;
}

.photoshoot-container img {
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease; 
}

.photoshoot-container img:hover {
  filter: grayscale(0%);
}

@media (max-width: 800px) {
  .photoshoot-container {
    display: none;
  }
}
