.home-main {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15%;
  background-image: url('/src/assets/img/bg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 1050px) {
  .home-main {
    gap: 20px;
  }
}

@media (max-width: 800px) {
  .home-main {
    min-height: calc(90vh - var(--nav-height));
    padding-top: 0px;
  }

  .home-main>* {
    width: 80%;
  }
}