* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  font-size: 62.5%;
  --primary-background: #1b1b1b;

  --primary-background: #000000;
  --nav-height: 80px;
}
body {
  background-color: var(--primary-background);
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
li {
  list-style: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
